<mat-nav-list>
  <mat-list-item>
    <a
      matListItemTitle
      routerLink=""
      routerLinkActive="active-nav-link"
      aria-label="home"
      ariaCurrentWhenActive="page"
    >
      Home
    </a>
  </mat-list-item>
  <mat-list-item>
    <a
      matListItemTitle
      routerLink="/agent-details"
      routerLinkActive="active-nav-link"
      aria-label="Agent Details"
      ariaCurrentWhenActive="page"
    >
      Agent Details
    </a>
  </mat-list-item>

  <a mat-list-item>do something</a>
  <a mat-list-item>do something</a>
  <a mat-list-item>do something</a>
  <a mat-list-item>do something</a>
</mat-nav-list>
