@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 600);
$my-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A700);
$my-warn: mat.define-palette(mat.$red-palette, A200, A100, A700);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

:root {
  --primary: #{mat.get-theme-color($my-theme, primary, default)};
  --primary-darker: #{mat.get-theme-color($my-theme, primary, darker)};

  --accent-lighter: #{mat.get-theme-color($my-theme, accent, lighter)};
  --accent: #{mat.get-theme-color($my-theme, accent, default)};
  --accent-darker: #{mat.get-theme-color($my-theme, accent, darker)};

  --warn-lighter: #{mat.get-theme-color($my-theme, warn, lighter)};
  --warn: #{mat.get-theme-color($my-theme, warn, default)};
  --warn-darker: #{mat.get-theme-color($my-theme, warn, darker)};

  --light-background: #fafafa;
}

@include mat.all-component-themes($my-theme);